---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2023 The Nephio Authors.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

- name: Create base directory if it does not exist
  ansible.builtin.file:
    path: "{{ local_dest_directory }}"
    state: directory

- name: Fetch package
  kpt:
    repo_uri: "{{ repo_uri }}"
    pkg_path: "{{ pkg }}"
    version: "{{ version }}"
    local_dest_directory: "{{ local_dest_directory }}"
    for_deployment: "{{ for_deployment | default(false) | bool }}"
    command: pkg-get

- name: Get the local path
  ansible.builtin.set_fact:
    directory: "{{ local_dest_directory }}/{{ pkg | split('/') | last }}"

- name: Get package content information
  kpt:
    directory: "{{ directory }}"
    command: pkg-tree
  register: kpt_pkg_tree

- name: Print package content information
  ansible.builtin.debug:
    var: kpt_pkg_tree.stdout_lines

- name: Check package has been initialized
  ansible.builtin.stat:
    path: "{{ directory }}/resourcegroup.yaml"
  register: kpt_resourcegroup

# TODO: Improve the render function
- name: Render package
  become: true
  kpt:
    pkg_path: "{{ directory }}"
    command: fn-render
  when: not kpt_resourcegroup.stat.exists

- name: Get package differences between local and upstream
  become: true
  kpt:
    pkg_path: "{{ directory }}"
    version: "{{ version }}"
    command: pkg-diff
  register: kpt_pkg_diff

- name: Print package differences
  ansible.builtin.debug:
    var: kpt_pkg_diff.stdout_lines

- name: Init package
  become: true
  kpt:
    pkg_path: "{{ directory }}"
    version: "{{ version }}"
    context: "{{ context }}"
    command: live-init
  ignore_errors: true
  register: kpt_live_init
  changed_when: false

- name: Print package initialization
  ansible.builtin.debug:
    var: kpt_live_init

- name: Apply package
  become: true
  kpt:
    pkg_path: "{{ directory }}"
    version: "{{ version }}"
    context: "{{ context }}"
    command: live-apply
    reconcile_timeout: "{{ reconcile_timeout }}"
  register: kpt_apply
  until: kpt_apply is not failed
  retries: 5
  changed_when: false

- name: Wait for deployments
  ansible.builtin.include_tasks: wait_deployments.yml
  loop: "{{ namespaces }}"
  loop_control:
    loop_var: namespace
