---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2023 The Nephio Authors.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

- name: Deploy Nephio packages
  ansible.builtin.include_role:
    name: kpt
  loop:
    - {pkg: porch-dev, version: porch-dev/v2, namespaces: [porch-fn-system, porch-system]}
    - {pkg: nephio-controllers, version: nephio-controllers/v5, namespaces: [nephio-system]}
    - {pkg: configsync, version: configsync/v1, namespaces: [config-management-monitoring, config-management-system, resource-group-system]}
    - {pkg: network-config, version: network-config/v1, namespaces: []}
    - {pkg: nephio-stock-repos, version: nephio-stock-repos/v1, namespaces: []}
  vars:
    repo_uri: https://github.com/nephio-project/nephio-example-packages.git
    pkg: "{{ item.pkg }}"
    version: "{{ item.version }}"
    namespaces: "{{ item.namespaces }}"
    context: kind-kind

- name: Create gitea user password in nephio-system namespace
  kubernetes.core.k8s:
    context: kind-kind
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: git-user-secret
        namespace: nephio-system
      type: kubernetes.io/basic-auth
      stringData:
        username: "{{ gitea_username }}"
        password: "{{ gitea_password }}"

- name: Deploy Nephio webui
  ansible.builtin.include_role:
    name: kpt
  loop:
    - {pkg: nephio-webui, version: v7, namespaces: [nephio-webui]}
  vars:
    repo_uri: https://github.com/nephio-project/nephio-packages.git
    pkg: "{{ item.pkg }}"
    version: "{{ item.version }}"
    namespaces: "{{ item.namespaces }}"
    context: kind-kind
