---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2023 The Nephio Authors.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

- name: Init job ids array
  ansible.builtin.set_fact:
    all_kpt_apply: []

- name: Deploy Nephio packages
  ansible.builtin.include_role:
    name: kpt
  loop: "{{ nephio.kpt.packages }}"
  vars:
    repo_uri: "{{ item.repo_uri }}"
    pkg: "{{ item.pkg }}"
    version: "{{ item.version }}"
    context: "{{ k8s.context }}"
    kpt_async: "{{ item.async }}"
    kpt_poll: "{{ item.poll }}"

- name: Wait for packages to be applied
  ansible.builtin.async_status:
    jid: "{{ item.ansible_job_id }}"
  register: job_result
  loop: "{{ all_kpt_apply }}"
  when: all_kpt_apply is defined
  until: job_result.finished
  retries: 60
  delay: 5

- name: Wait for deployments
  ansible.builtin.include_tasks: wait_deployments.yml
  loop: "{{ nephio.k8s.namespaces }}"
  loop_control:
    loop_var: namespace
  vars:
    context: "{{ k8s.context }}"

- name: Deploy Nephio webui
  ansible.builtin.include_role:
    name: kpt
  vars:
    repo_uri: "{{ nephio_webui.kpt.package.repo_uri }}"
    pkg: "{{ nephio_webui.kpt.package.pkg }}"
    version: "{{ nephio_webui.kpt.package.version }}"
    context: "{{ k8s.context }}"
    kpt_async: 600
    kpt_poll: 5

- name: Wait for Nephio webui deployment
  ansible.builtin.include_tasks: wait_deployments.yml
  vars:
    context: "{{ k8s.context }}"
    namespace: "{{ nephio_webui.k8s.namespace }}"

- name: Clone stock GitHub repositories to Gitea
  ansible.builtin.include_tasks: mirror_git_repo_to_gitea.yaml
  loop: "{{ nephio_stock_repos }}"

- name: "Wait for stock repository: {{ item.name }}"
  kubernetes.core.k8s:
    context: "{{ k8s.context }}"
    definition:
      apiVersion: config.porch.kpt.dev/v1alpha1
      kind: Repository
      metadata:
        name: "{{ item.name }}"
        namespace: default
    wait: true
    wait_condition:
      type: Ready
      status: true
  loop: "{{ nephio_stock_repos }}"
