# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2023 The Nephio Authors.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

- name: "Create gitea repo: {{ item.name }}"
  kubernetes.core.k8s:
    context: "{{ k8s.context }}"
    state: present
    definition:
      apiVersion: infra.nephio.org/v1alpha1
      kind: Repository
      metadata:
        name: "{{ item.name }}"
        namespace: default
      spec:
        description: "{{ item.name }} repository"
        defaultBranch: main

- name: "Pull GitHub repo {{ item.name }}"
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "/tmp/repository/{{ item.name }}.git"
    bare: true

- name: "Add gitea remote to local git repo"
  ansible.builtin.command:
    cmd: "git remote add gitea http://{{ gitea.k8s.username }}:{{ gitea.k8s.password }}@{{ gitea_ip }}:3000/nephio/{{ item.name }}.git"
    chdir: "/tmp/repository/{{ item.name }}.git"
  register: add_remote_result
  changed_when: "add_remote_result is succeeded"
  ignore_errors: true

- name: "Push tags to gitea: {{ item.name }}"
  ansible.builtin.command:
    cmd: git push gitea --tags --force
    chdir: /tmp/repository/{{ item.name }}.git
  environment:
    no_proxy: "{{ gitea_ip }}"
    NO_PROXY: "{{ gitea_ip }}"
  register: push_result
  until: push_result is not failed
  retries: 60
  delay: 10
  changed_when: "'Everything up-to-date' not in push_result.stdout"

- name: "Push branches to gitea: {{ item.name }}"
  ansible.builtin.command:
    cmd: git push gitea --all --force
    chdir: /tmp/repository/{{ item.name }}.git
  environment:
    no_proxy: "{{ gitea_ip }}"
    NO_PROXY: "{{ gitea_ip }}"
  register: push_result
  changed_when: "'Everything up-to-date' not in push_result.stdout"

- name: "Create porch repository object: {{ item.name }}"
  kubernetes.core.k8s:
    context: "{{ k8s.context }}"
    state: present
    definition:
      apiVersion: config.porch.kpt.dev/v1alpha1
      kind: Repository
      metadata:
        name: "{{ item.name }}"
        namespace: default
        labels:
          kpt.dev/repository-access: read-only
          kpt.dev/repository-content: external-blueprints
      spec:
        content: Package
        deployment: false
        git:
          branch: "{{ item.branch }}"
          directory: /
          repo: "http://{{ gitea_ip }}:3000/nephio/{{ item.name }}.git"
        type: git
