---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2023 The Nephio Authors.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

k8s:
  context: kind-kind

gitea:
  k8s:
    username: nephio
    password: secret
    ingress_ip: 172.18.0.200
    ingress_port: 3000

nephio_pkg_version: v1.0.1
nephio_example_repo_uri: https://github.com/nephio-project/nephio-example-packages.git

nephio_stock_repos:
  - name: nephio-example-packages
    repo: "{{ nephio_example_repo_uri }}"
    branch: main
  - name: free5gc-packages
    repo: https://github.com/nephio-project/free5gc-packages.git
    branch: main

nephio:
  k8s:
    namespaces:
      - porch-fn-system
      - porch-system
      - nephio-system
      - config-management-monitoring
      - config-management-system
      - resource-group-system
  kpt:
    packages:
      - repo_uri: "{{ nephio_example_repo_uri }}"
        pkg: porch-dev
        version: "{{ nephio_pkg_version }}"
        async: 480
        poll: 5
      - repo_uri: "{{ nephio_example_repo_uri }}"
        pkg: nephio-controllers
        version: "{{ nephio_pkg_version }}"
        async: 480
        poll: 5
      - repo_uri: "{{ nephio_example_repo_uri }}"
        pkg: configsync
        version: "{{ nephio_pkg_version }}"
        async: 240
        poll: 5
      - repo_uri: "{{ nephio_example_repo_uri }}"
        pkg: network-config
        version: "{{ nephio_pkg_version }}"
        async: 480
        poll: 0

nephio_webui:
  k8s:
    namespace: nephio-webui
  kpt:
    package:
      repo_uri: https://github.com/nephio-project/nephio-packages.git
      pkg: nephio-webui
      version: "{{ nephio_pkg_version }}"
