---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2023 The Nephio Authors.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

k8s:
  context: kind-kind

gitea:
  k8s:
    username: nephio
    password: secret

nephio_catalog_repo_uri: https://github.com/nephio-project/catalog.git
nephio_catalog_branch: v4.0.0

nephio_stock_repos:
  - name: catalog-distros-sandbox
    repo: "{{ nephio_catalog_repo_uri }}"
    directory: /distros/sandbox
    branch: "{{ nephio_catalog_branch }}"
  - name: catalog-workloads-free5gc
    repo: "{{ nephio_catalog_repo_uri }}"
    directory: /workloads/free5gc
    branch: "{{ nephio_catalog_branch }}"
  - name: catalog-infra-capi
    repo: "{{ nephio_catalog_repo_uri }}"
    directory: /infra/capi
    branch: "{{ nephio_catalog_branch }}"
  - name: catalog-nephio-core
    repo: "{{ nephio_catalog_repo_uri }}"
    directory: /nephio/core
    branch: "{{ nephio_catalog_branch }}"
  - name: catalog-nephio-optional
    repo: "{{ nephio_catalog_repo_uri }}"
    directory: /nephio/optional
    branch: "{{ nephio_catalog_branch }}"
  - name: oai-core-packages
    repo: https://github.com/OPENAIRINTERFACE/oai-packages.git
    directory: /
    branch: r4
  - name: catalog-workloads-oai-ran
    repo: "{{ nephio_catalog_repo_uri }}"
    directory: /workloads/oai
    branch: "{{ nephio_catalog_branch }}"
  - name: catalog-workloads-tools
    repo: "{{ nephio_catalog_repo_uri }}"
    directory: /workloads/tools
    branch: "{{ nephio_catalog_branch }}"

nephio:
  k8s:
    namespaces:
      - porch-fn-system
      - porch-system
      - nephio-system
      - config-management-monitoring
      - config-management-system
      - resource-group-system
      - flux-system
  kpt:
    packages:
      - repo_uri: "{{ nephio_catalog_repo_uri }}"
        pkg: nephio/core/porch
        version: origin/v4.0.0
        async: 480
        poll: 5
        inventory_id: nephio
        resourcegroup_name: porch
        resourcegroup_ns: porch-system
      - repo_uri: "{{ nephio_catalog_repo_uri }}"
        pkg: nephio/core/nephio-operator
        version: origin/v4.0.0
        async: 480
        poll: 5
      - repo_uri: "{{ nephio_catalog_repo_uri }}"
        pkg: nephio/core/configsync
        version: origin/v4.0.0
        async: 240
        poll: 5
      - repo_uri: "{{ nephio_catalog_repo_uri }}"
        pkg: nephio/optional/network-config
        version: origin/v4.0.0
        async: 480
        poll: 0
      - repo_uri: "{{ nephio_catalog_repo_uri }}"
        pkg: nephio/optional/fluxcd
        version: origin/v4.0.0
        async: 240
        poll: 5

nephio_webui:
  k8s:
    namespace: nephio-webui
  kpt:
    package:
      repo_uri: "{{ nephio_catalog_repo_uri }}"
      pkg: nephio/optional/webui
      version: origin/v4.0.0
